<section class="container-fluid">

   <div class="row p-5 vh-100 align-items-center justify-content-center align-content-center  " style="background-color: var(--main-color);">
      <div class="col-12 ">
         <div class="text-center text-white ">
            <app-star title="ABOUT COMPONENT"></app-star>
         </div>
      </div>
      <div  class="col-md-4 ps-5 text-white ">
         <p> Freelancer is a free bootstrap theme created by Route. The download includes the
            complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
            customization. </p>
      </div>
      <div  class="col-md-4 pe-5 text-white  ">
         <p> Freelancer is a free bootstrap theme created by Route. The download includes the
            complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
            customization. </p>
      </div>
   </div>

</section>