<section class="container" style="margin-top: 100px;">
   <app-star title="PORTFOLIO COMPONENT" color="#1a252f"></app-star>

   <section class="row mb-4 g-4">
      <div class="col-md-4">
         <app-card  imgsrc="assets/images/port1.png"></app-card>
      </div>
      <div class="col-md-4">
         <app-card  imgsrc="assets/images/port2.png"></app-card>
      </div>
      <div class="col-md-4">
         <app-card  imgsrc="assets/images/port3.png"></app-card>
      </div>

      <div class="col-md-4">
         <app-card  imgsrc="assets/images/port1.png"></app-card>
      </div>
      <div class="col-md-4">
         <app-card  imgsrc="assets/images/port2.png"></app-card>
      </div>
      <div class="col-md-4">
         <app-card  imgsrc="assets/images/port3.png"></app-card>
      </div>

    
   </section>
</section>
